{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, ["apps/bare"]}.
{deps_dir, ["deps"]}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git"}},
  {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}},
  {folsom, ".*", {git, "git://github.com/boundary/folsom.git"}},
  {cowboy ,".*", {git, "git://github.com/extend/cowboy.git"}}]}.
