{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, ["apps/mmo", "apps/bare"]}.
{deps_dir, ["deps"]}.
{deps, [
  {lager, "2.0.3", {git, "git://github.com/basho/lager.git"}},
  {eredis, ".*", {git, "git://github.com/Cloven/eredis.git"}},
  {folsom, ".*", {git, "git://github.com/boundary/folsom.git"}},
  {sync, ".*", {git, "git://github.com/Cloven/sync.git"}},
  {cowboy ,".*", {git, "git://github.com/extend/cowboy.git"}}]}.
