[{lager, [
  {handlers, [
    {async_threshold, 100},
    {async_threshold_window, 20},
    {error_logger_hwm, 100},
    {lager_console_backend, info},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]}].
