[{lager, [
  {crash_log, "crash.log"},
  {crash_log_msg_size, 65536},
  {error_logger_redirect, true},
  {error_logger_hwm, 100},
  {async_threshold, 50},

  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]}].
